.chat_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.chat_section aside {
  width: 700px;
  height: 100vh;
  border-right: 1px solid rgba(255, 255, 255, 0.384);
  border-radius: 6px;
}

.chat_section .user_chat_section {
  width: 90%;
  height: 100vh;
}

.chat_section .user_chat_section nav {
  width: 90%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.chat_section .user_chat_section nav i {
  font-size: 2.5rem;
  color: white;
  margin-right: 35px;
  cursor: pointer;
}

.chat_section .user_chat_section nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 90px;
}

.chat_section .user_chat_section nav div img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 10px;
}

.chat_section .user_chat_section nav div h1 {
  font-size: 38px;
  font-weight: 500;
}

.chat_section .user_chat_section .user_chats {
  width: 90%;
  height: 80vh;
  margin: 10px auto;
  overflow-y: auto;
  word-break: break-all;
  padding: 0px 20px;
}

.chat_section .user_chat_section .user_chats .left_user img {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  margin: 0px 0 50px;
  float: left;
  clear: both;
  cursor: pointer;
}

.chat_section .user_chat_section .user_chats .left_user p {
  color: #111111;
  font-weight: 500;
  font-size: 18px;
  padding: 10px 25px;
  margin: 0px 0 40px;
  background-color: white;
  float: left;
  clear: both;
  border-radius: 10px 10px 10px 2px;
}

.chat_section .user_chat_section .user_chats .right_user img {
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
  margin: 0px 0 50px;
  float: right;
  clear: both;
  cursor: pointer;
}

.chat_section .user_chat_section .user_chats .right_user p {
  color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 8px 25px;
  margin: 0px 0 40px;
  background-color: #41B0FF;
  float: right;
  clear: both;
  border-radius: 10px 10px 2px 10px;
}

.chat_section .user_chat_section .messsage_div {
  width: 90%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.chat_section .user_chat_section .messsage_div div {
  width: 90%;
  position: relative;
}

.chat_section .user_chat_section .messsage_div div i {
  position: absolute;
  font-size: 1.5rem;
  color: white;
  overflow: hidden;
  top: 13px;
  width: 30px;
  cursor: pointer;
}

.chat_section .user_chat_section .messsage_div div #image {
  right: 68px;
}

.chat_section .user_chat_section .messsage_div div #image input {
  opacity: 0;
  cursor: pointer;
  -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
}

.chat_section .user_chat_section .messsage_div div .fa-grin-beam {
  right: 15px;
}

.chat_section .user_chat_section .messsage_div div .message {
  width: 100%;
  font-size: 18px;
  padding: 10px 110px 10px 20px;
  background-color: #41b0ff96;
  border: 3px solid #41b0ff;
  border-radius: 6px;
  color: white;
  font-weight: 500;
}

.chat_section .user_chat_section .messsage_div div .message::-webkit-input-placeholder {
  color: white;
}

.chat_section .user_chat_section .messsage_div div .message:-ms-input-placeholder {
  color: white;
}

.chat_section .user_chat_section .messsage_div div .message::-ms-input-placeholder {
  color: white;
}

.chat_section .user_chat_section .messsage_div div .message::placeholder {
  color: white;
}

.chat_section .user_chat_section .messsage_div button {
  padding: 10px 30px;
  background-color: #46b2ff9c;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  margin: 0px;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
  border: 3px solid #41B0FF;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.753);
  border: 3px solid white;
  color: #111111;
  font-weight: bold;
  margin-left: 10px;
}

.chat_section .user_chat_section .messsage_div button:hover {
  background-color: white;
  color: #111111;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 1050px) {
  .chat_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
    width: 100vw;
  }
  .chat_section .user_chat_section {
    width: 90%;
    height: 100vh;
  }
  .chat_section .user_chat_section nav {
    width: 100%;
    margin: 0px auto;
  }
  .chat_section .user_chat_section nav i {
    font-size: 2rem;
    margin-right: 30px;
  }
  .chat_section .user_chat_section nav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 70px;
  }
  .chat_section .user_chat_section nav div img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 10px;
  }
  .chat_section .user_chat_section nav div h1 {
    font-size: 32px;
    font-weight: 500;
  }
  .chat_section .user_chat_section .user_chats {
    width: 100%;
    height: 83vh;
    margin: 10px auto;
    overflow-y: auto;
    word-break: break-all;
    padding: 0px 20px;
  }
  .chat_section .user_chat_section .user_chats .left_user img {
    width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
    margin: 0px 0 50px;
    float: left;
    clear: both;
    cursor: pointer;
  }
  .chat_section .user_chat_section .user_chats .left_user p {
    color: #111111;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 25px;
    margin: 0px 0 50px;
    background-color: white;
    float: left;
    clear: both;
    border-radius: 10px 10px 10px 2px;
  }
  .chat_section .user_chat_section .user_chats .right_user img {
    width: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
    margin: 0px 0 50px;
    float: right;
    clear: both;
    cursor: pointer;
  }
  .chat_section .user_chat_section .user_chats .right_user p {
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 10px 25px;
    margin: 0px 0 50px;
    background-color: #41B0FF;
    float: right;
    clear: both;
    border-radius: 10px 10px 2px 10px;
  }
  .chat_section .user_chat_section .messsage_div {
    width: 100%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .chat_section .user_chat_section .messsage_div div {
    width: 100%;
    position: relative;
  }
  .chat_section .user_chat_section .messsage_div div i {
    position: absolute;
    font-size: 1.5rem;
    color: white;
    overflow: hidden;
    top: 13px;
    width: 30px;
    cursor: pointer;
  }
  .chat_section .user_chat_section .messsage_div div #image {
    right: 68px;
  }
  .chat_section .user_chat_section .messsage_div div #image input {
    opacity: 0;
  }
  .chat_section .user_chat_section .messsage_div div .fa-grin-beam {
    right: 15px;
  }
  .chat_section .user_chat_section .messsage_div div .message {
    width: 100%;
    font-size: 18px;
    padding: 10px 110px 10px 20px;
    background-color: #41b0ff96;
    border: 3px solid #41b0ff;
    border-radius: 6px;
    color: white;
    font-weight: 500;
  }
  .chat_section .user_chat_section .messsage_div div .message::-webkit-input-placeholder {
    color: white;
  }
  .chat_section .user_chat_section .messsage_div div .message:-ms-input-placeholder {
    color: white;
  }
  .chat_section .user_chat_section .messsage_div div .message::-ms-input-placeholder {
    color: white;
  }
  .chat_section .user_chat_section .messsage_div div .message::placeholder {
    color: white;
  }
  .chat_section .user_chat_section .messsage_div button {
    padding: 10px 30px;
    background-color: #46b2ff9c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    margin: 0px;
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
    border: 3px solid #41B0FF;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.753);
    border: 3px solid white;
    color: #111111;
    font-weight: bold;
    margin-left: 20px;
  }
  .chat_section .user_chat_section .messsage_div button:hover {
    background-color: white;
    color: #111111;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (max-width: 750px) {
  .chat_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
    width: 100vw;
  }
  .chat_section .user_chat_section {
    width: 90%;
    height: 100vh;
  }
  .chat_section .user_chat_section nav {
    width: 100%;
    margin: 0px auto;
  }
  .chat_section .user_chat_section nav i {
    font-size: 1.6rem;
    margin-right: 30px;
  }
  .chat_section .user_chat_section nav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 70px;
  }
  .chat_section .user_chat_section nav div img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 10px;
  }
  .chat_section .user_chat_section nav div h1 {
    font-size: 28px;
    font-weight: 500;
  }
  .chat_section .user_chat_section .user_chats {
    width: 100%;
    height: 83vh;
    margin: 10px auto;
    overflow-y: auto;
    word-break: break-all;
    padding: 0px 20px;
  }
  .chat_section .user_chat_section .user_chats .left_user img {
    width: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
    margin: 0px 0 50px;
    float: left;
    clear: both;
    cursor: pointer;
  }
  .chat_section .user_chat_section .user_chats .left_user p {
    color: #111111;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 20px;
    margin: 0px 0 30px;
    background-color: white;
    float: left;
    clear: both;
    border-radius: 10px 10px 10px 2px;
  }
  .chat_section .user_chat_section .user_chats .right_user img {
    width: 300px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
    margin: 0px 0 50px;
    float: right;
    clear: both;
    cursor: pointer;
  }
  .chat_section .user_chat_section .user_chats .right_user p {
    color: white;
    font-weight: 500;
    font-size: 16px;
    padding: 8px 20px;
    margin: 0px 0 30px;
    background-color: #41B0FF;
    float: right;
    clear: both;
    border-radius: 10px 10px 2px 10px;
  }
  .chat_section .user_chat_section .messsage_div {
    width: 100%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .chat_section .user_chat_section .messsage_div div {
    width: 100%;
    position: relative;
  }
  .chat_section .user_chat_section .messsage_div div i {
    position: absolute;
    font-size: 1.5rem;
    color: white;
    overflow: hidden;
    top: 13px;
    width: 30px;
    cursor: pointer;
  }
  .chat_section .user_chat_section .messsage_div div #image {
    right: 68px;
  }
  .chat_section .user_chat_section .messsage_div div #image input {
    opacity: 0;
  }
  .chat_section .user_chat_section .messsage_div div .fa-grin-beam {
    right: 15px;
  }
  .chat_section .user_chat_section .messsage_div div .message {
    width: 100%;
    font-size: 18px;
    padding: 10px 110px 10px 20px;
    background-color: #41b0ff96;
    border: 3px solid #41b0ff;
    border-radius: 6px;
    color: white;
    font-weight: 500;
  }
  .chat_section .user_chat_section .messsage_div div .message::-webkit-input-placeholder {
    color: white;
  }
  .chat_section .user_chat_section .messsage_div div .message:-ms-input-placeholder {
    color: white;
  }
  .chat_section .user_chat_section .messsage_div div .message::-ms-input-placeholder {
    color: white;
  }
  .chat_section .user_chat_section .messsage_div div .message::placeholder {
    color: white;
  }
  .chat_section .user_chat_section .messsage_div button {
    padding: 10px 30px;
    background-color: #46b2ff9c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    margin: 0px;
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
    border: 3px solid #41B0FF;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.753);
    border: 3px solid white;
    color: #111111;
    font-weight: bold;
    margin-left: 20px;
  }
  .chat_section .user_chat_section .messsage_div button:hover {
    background-color: white;
    color: #111111;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@media screen and (max-width: 450px) {
  .chat_section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 100vh;
    width: 100vw;
  }
  .chat_section .user_chat_section {
    width: 95%;
    height: 100vh;
  }
  .chat_section .user_chat_section nav {
    width: 100%;
    margin: 0px auto;
  }
  .chat_section .user_chat_section nav i {
    font-size: 1.2rem;
    margin-right: 22px;
  }
  .chat_section .user_chat_section nav div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 60px;
  }
  .chat_section .user_chat_section nav div img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    margin-right: 10px;
  }
  .chat_section .user_chat_section nav div h1 {
    font-size: 24px;
    font-weight: 500;
  }
  .chat_section .user_chat_section .user_chats {
    width: 100%;
    height: 80vh;
    margin: 10px auto;
    overflow-y: auto;
    word-break: break-all;
    padding: 0px 20px;
  }
  .chat_section .user_chat_section .user_chats .left_user img {
    width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
    margin: 0px 0 50px;
    float: left;
    clear: both;
    cursor: pointer;
  }
  .chat_section .user_chat_section .user_chats .left_user p {
    color: #111111;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 20px;
    margin: 0px 0 30px;
    background-color: white;
    float: left;
    clear: both;
    border-radius: 6px 6px 6px 2px;
  }
  .chat_section .user_chat_section .user_chats .right_user img {
    width: 200px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 6px;
    margin: 0px 0 50px;
    float: right;
    clear: both;
    cursor: pointer;
  }
  .chat_section .user_chat_section .user_chats .right_user p {
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 20px;
    margin: 0px 0 30px;
    background-color: #41B0FF;
    float: right;
    clear: both;
    border-radius: 6px 6px 2px 6px;
  }
  .chat_section .user_chat_section .messsage_div {
    width: 100%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .chat_section .user_chat_section .messsage_div div {
    width: 100%;
    position: relative;
  }
  .chat_section .user_chat_section .messsage_div div i {
    position: absolute;
    font-size: 1.2rem;
    color: white;
    overflow: hidden;
    top: 13px;
    width: 30px;
    cursor: pointer;
  }
  .chat_section .user_chat_section .messsage_div div #image {
    right: 48px;
  }
  .chat_section .user_chat_section .messsage_div div #image input {
    opacity: 0;
  }
  .chat_section .user_chat_section .messsage_div div .fa-grin-beam {
    right: 6px;
  }
  .chat_section .user_chat_section .messsage_div div .message {
    width: 100%;
    font-size: 14px;
    padding: 10px 85px 10px 10px;
    background-color: #41b0ff96;
    border: 3px solid #41b0ff;
    border-radius: 6px;
    color: white;
    font-weight: 500;
  }
  .chat_section .user_chat_section .messsage_div div .message::-webkit-input-placeholder {
    color: white;
  }
  .chat_section .user_chat_section .messsage_div div .message:-ms-input-placeholder {
    color: white;
  }
  .chat_section .user_chat_section .messsage_div div .message::-ms-input-placeholder {
    color: white;
  }
  .chat_section .user_chat_section .messsage_div div .message::placeholder {
    color: white;
  }
  .chat_section .user_chat_section .messsage_div button {
    padding: 9px 20px;
    background-color: #46b2ff9c;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    margin: 0px;
    -webkit-transition-duration: 0.7s;
            transition-duration: 0.7s;
    border: 3px solid #41B0FF;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.753);
    border: 3px solid white;
    color: #111111;
    font-weight: bold;
    margin-left: 10px;
  }
  .chat_section .user_chat_section .messsage_div button:hover {
    background-color: white;
    color: #111111;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=chat.css.map */