@import "../../utils/mixins/flex";
@import "../../utils/varialbles/colors";
@import "../../utils/mixins/button";
@import "../../utils/varialbles/fonts";
@import "../../utils/varialbles/border";
.user_nav {
  @include flex($content: space-between);
  width: 90%;
  height: 100px;
  margin: 10px auto 0;
  .user_info {
    @include flex($content: space-between);
    h1 {
      font-size: 38px;
      margin-left: 10px;
    }
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  button {
    @include button();
    text-transform: uppercase;
  }
}
.search {
  width: 90%;
  margin: 5px auto 50px;
  position: relative;
  span {
    background-color: #ffffffbe;
    border: 2px solid #ffffff;
    padding: 5px 7px;
    border-radius: $reduce-md;
    position: absolute;
    top: 8px;
    left: 10px;
    i {
      font-size: 1.1rem;
      color: $body;
      font-weight: 600;
    }
  }
  input {
    width: 100%;
    padding: 10px 54px;
    font-size: 18px;
    background-color: #41b0ff96;
    border: 3px solid #41b0ff;
    border-radius: $reduce-md;
    color: $font;
    font-weight: 500;
  }
  input::placeholder {
    color: $font;
  }
}

.users_section {
  width: 90%;
  margin: 0 auto;
  cursor: pointer;
  overflow-y: auto;
  .user {
    display: flex;
    padding: 15px 0;
    margin: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.363);
    align-items: center;
    div {
      margin-left: 20px;
      width: 100%;
      h2 {
        text-transform: capitalize;
        font-size: 30px;
        color: $font;
        font-weight: 500;
      }
    }
    img {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      object-fit: cover;
    }
    i {
      float: right;
      font-size: 1.5rem;
      color: $font;
      margin: 10px 10px 0px 0px;
    }
  }
}
