@import "../../utils/mixins/flex";
@import "../../utils/varialbles/colors";
@import "../../utils/mixins/button";
@import "../../utils/varialbles/fonts";
@import "../../utils/mixins/buttonHover";

header {
  width: 100vw;
  height: 100vh;
  @include flex($direc: column);

  .main_image_div {
    position: relative;
    .style1 {
      border: 5px solid white;
      width: 500px;
      height: 500px;
      position: absolute;
      top: -50px;
      left: -60px;
      transform: rotate(45deg);
      animation: image 14s 5s ease-in-out infinite;
      z-index: -1;
    }
    .style2 {
      border: 5px solid white;
      width: 500px;
      height: 500px;
      position: absolute;
      top: -50px;
      left: -60px;
      animation: image 18s 5s ease infinite;
      z-index: -1;
    }
    @keyframes image {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    img {
      border-radius: 50%;
      width: 380px;
      height: 380px;
      object-fit: cover;
    }
  }
  h1 {
    text-align: center;
    margin: 60px 0px 20px;
    span {
      color: $button;
    }
  }
  h2 {
    color: $font;
    font-size: $heading-md;
  }
  button {
    @include button($pad: 10px 50px);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 80px;
  }
  button:hover {
    @include hover();
  }
}


@media screen and (max-width: 750px) {
  header {
    .main_image_div {
      .style1 {
        border: 5px solid white;
        width: 300px;
        height: 300px;
        position: absolute;
        top: -40px;
        left: -45px;
        transform: rotate(45deg);
        animation: image 14s 5s ease-in-out infinite;
        z-index: -1;
      }
      .style2 {
        border: 5px solid white;
        width: 300px;
        height: 300px;
        position: absolute;
        top: -40px;
        left: -45px;
        animation: image 18s 5s ease infinite;
        z-index: -1;
      }
      @keyframes image {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      img {
        border-radius: 50%;
        width: 220px;
        height: 220px;
        object-fit: cover;
      }
    }
    h1 {
      text-align: center;
      margin: 60px 0px 20px;
      span {
        color: $button;
      }
    }
    h2 {
      color: $font;
      font-size: $heading-vsm;
    }
    button {
      @include button($pad: 8px 50px,  $size: $pera-sm);
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 80px;
    }
    button:hover {
      @include hover();
    }
  }
  
}


@media screen and (max-width: 400px) {
  header {
    .main_image_div {
      .style1 {
        border: 5px solid white;
        width: 200px;
        height: 200px;
        position: absolute;
        top: -20px;
        left: -25px;
        transform: rotate(45deg);
        animation: image 14s 5s ease-in-out infinite;
        z-index: -1;
      }
      .style2 {
        border: 5px solid white;
        width: 200px;
        height: 200px;
        position: absolute;
        top: -20px;
        left: -25px;
        animation: image 18s 5s ease infinite;
        z-index: -1;
      }
      @keyframes image {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }
    h1 {
      text-align: center;
      margin: 60px 0px 20px;
      span {
        color: $button;
      }
    }
    h2 {
      color: $font;
      font-size: $heading-vsm;
    }
    button {
      @include button($pad: 7px 30px,  $size: $pera-vsm);
      text-transform: uppercase;
      font-weight: bold;
      margin-top: 80px;
    }
    button:hover {
      @include hover();
    }
  }
  
}