@import './utils/varialbles/colors';
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  outline: none;
  border: none;
}
body{
  overflow-x: hidden;
  background-color: $body;
}
a {
  text-decoration: none;
}
p,
button {
  font-size: 16px;
  color: $font;
}
h1 {
  font-size: 58px;
  color: $font;
}

body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #cacaca; 
  border-radius: 10px;
}



@media screen and (max-width: 1050px) {
  p,
  button {
    font-size: 14px;
  }
  h1 {
    font-size: 38px;
  }
}
@media screen and (max-width: 750px) {
  h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 550px) {
  p,
  button {
    font-size: 12px;
  }
  h1 {
    font-size: 28px;
  }
}
